<h1>Here is the new index</h1>
<ul>
{{#each ICECREAMS }}
  <li><strong>Name: </strong><a href="/icecream/{{name}}">{{name}}</a>. <strong>Price: </strong>{{price}}. <strong>Awesomeness:</strong> {{awesomeness}}</li>
{{/each}}
</ul>
